/* ENCABEZADO */
.encabezado-principal {
  background-color: #76b3f0 !important;
  color: black !important;
  padding: 1rem 0;
}

/* BARRA DE NAVEGACIÓN */
.mi-navbar {
  background-color: #f5f5f5 !important; /* Color de fondo gris claro */
  border-bottom: 1px solid #dee2e6 !important;
}

.mi-navbar .navbar-nav .nav-link {
  color:  #495057!important; /* Color de texto gris oscuro */
}

.mi-navbar .navbar-nav .nav-link.active {
  color: #0177fd !important; /* Azul para el activo */
  font-weight: 500;
}

.mi-navbar .navbar-nav .nav-link:hover {
  color: #0665d0 !important; /* Azul más oscuro al pasar mouse */
}

/* TOGGLER PARA MÓVIL */
.mi-navbar .navbar-toggler {
  border-color: #adb5bd !important;
}

.mi-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}